h1 {
    text-align: center;
    padding-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
}

.sidebar {
    border-style: solid;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    width: 180px;
    margin-right: 16px;
    margin-bottom: -4px;
}

#rainbowBtn {
    height: 30px;
    width: 140px;
    margin-bottom: 15px;
}

#blackBtn {
    height: 30px;
    width: 140px;
    margin-bottom: 15px;
}

#inputSize {
    display: block;
}

#clearBtn {
    height: 30px;
    width: 140px;
    margin-top: 250px;
}

.main {
    display: flex;
    width: 512px;
    height:512px;
    background-color: rgb(224, 224, 224);
    box-shadow: -5px 5px 5px rgb(165, 165, 165);
}

.box {
    background-color: blue;
}

