h1 {
    text-align: center;
    padding-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
}

.sidebar {
    border-style: solid;
    padding: 10px 10px 10px 10px;
    text-align: center;
    width: 180px;

}

.main {
    display: flex;
    padding-left: 10px;
    width: 512px;
    height:512px;
    background-color: rgb(224, 224, 224);
}

.box {
    background-color: blue;
}
